<div id="header" class="animated slideInDown">
    <div class="coter">
        <img src="assets/img/logo3.png" alt="oups" class="logo">
        <div class="nom">{{PrenomNom}}</div>
        <div class="info">{{info}}</div>
    </div>
    <!-- <div class="menu">
        <a [routerLink]="['/section0']"><span class="menupart">{{onglet1}}</span></a>
        <a [routerLink]="['/section1']"><span class="menupart">{{onglet2}}</span></a>
        <a [routerLink]="['/section2']"><span class="menupart">{{onglet3}}</span></a>
        <a [routerLink]="['/section3']"><span class="menupart">{{onglet4}}</span></a>
        <a [routerLink]="['/section4']"><span class="menupart">{{onglet5}}</span></a>
    </div> -->
    <!-- <nav class="menuNav navbar navbar-expand-lg navbar-light">
        <div class="coter">
            <img src="assets/img/logo3.png" alt="oups" class="logo">
            <div class="nom">{{PrenomNom}}</div>
            <div class="info">{{info}}</div>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a [routerLink]="['/section0']"><span class="menupart">{{onglet1}}</span></a>
            <a [routerLink]="['/section1']"><span class="menupart">{{onglet2}}</span></a>
            <a [routerLink]="['/section2']"><span class="menupart">{{onglet3}}</span></a>
            <a [routerLink]="['/section3']"><span class="menupart">{{onglet4}}</span></a>
            <a [routerLink]="['/section4']"><span class="menupart">{{onglet5}}</span></a>
        </div>
      </div>
    </nav> -->
</div>

    <!-- <span>{{mail}}</span>
    <a href="https://www.linkedin.com/in/thomas-araujo-b9b043155/" target="_blank" class="icone" title="linkedIn">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/thomasArj" target="_blank" class="icone" title="GitHub">
        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
    </a> -->
    <!-- <a href="mailto:thomas.araujo87@gmail.com"><button type="button" name="button" class="recrutez hvr-radial-out" title="N'hésitez pas :)">{{recrutez}}</button></a>
    <img class="scroll" src="img/scroll-down.gif" alt=""> -->

<div class="section">
    <router-outlet></router-outlet>
</div>

<!-- <button type="button" class="btnModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-bars" aria-hidden="true"></i></button>
<div class="modal fade" id="myModal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close offset-11 col-1" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<div class="">
<a [routerLink]="['/section0']"><div class="menupart">{{onglet1}}</div></a>
<a [routerLink]="['/section1']"><div class="menupart">{{onglet2}}</div></a>
<a [routerLink]="['/section2']"><div class="menupart">{{onglet3}}</div></a>
<a [routerLink]="['/section3']"><div class="menupart">{{onglet4}}</div></a>
<a [routerLink]="['/section4']"><div class="menupart">{{onglet5}}</div></a>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div> -->
