<div class="introdesktop animated fadeIn">
    <p class="bjrintro">{{bjr}}</p>
    <p class="textintro">{{texte1}}</p>
    <p class="techno">{{texte2}}</p>
    <p class="techno tech">{{techno}}</p>
    <p class="textintro">{{texte3}}</p>
</div>
<div id="footer" class="myMail">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a [routerLink]="['/section0']"><button class="btn btn-dark">{{onglet1}}</button></a>
        <a [routerLink]="['/section2']"><button class="btn btn-dark">{{onglet3}}</button></a>
        <a [routerLink]="['/section3']"><button class="btn btn-dark">{{onglet4}}</button></a>
        <a [routerLink]="['/section4']"><button class="btn btn-dark">{{onglet5}}</button></a>
    </div>
</div>
