<div class="desktop">
    <div class="titre animated fadeIn">
        Mes projets
    </div>
    <div class="github animated fadeIn">
        <a href="https://github.com/thomasArj"><i class="fa fa-github-square" aria-hidden="true"></i> - thomasArj</a>
    </div>
    <div class="mt-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet  animated fadeIn" data-toggle="modal" data-target="#exampleModal">
            <img class="imgprojet" src="../assets/img/projet1.png" alt="">
            <div class="mt-1">
                Blueasy
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Maquette Blueasy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">Maquette Blueasy :</p>
                            <p>Maquette réalisée à partir d'un template avec du HTML5 et CSS3</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet  animated fadeIn" data-toggle="modal" data-target="#exampleModal1">
            <img class="imgprojet" src="../assets/img/langerba.png" alt="">
            <div class="mt-1">
                Langerba
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Langerba</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">Maquette Langerba :</p>
                            <p>Maquette réalisée à partir d'un template avec du HTML5, CSS3 et Bootstrap4</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet animated fadeIn" data-toggle="modal" data-target="#exampleModal2">
            <img class="imgprojet" src="../assets/img/explo.png" alt="">
            <div class="mt-1">
                ExploFiles
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ExploFiles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">ExploFiles :</p>
                            <p>1 semaine - 3 personnes</p>
                            <p>Explorateur de fichier realisée avec du HTML5, CSS3, PHP7 et AJAX. Ce projet permet de naviguer entre les dossier de votre PC et et de voir les fichiers qu'ils contienent</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet animated fadeIn" data-toggle="modal" data-target="#exampleModal3">
            <img class="imgprojet" src="../assets/img/meme.png" alt="">
            <div class="mt-1">
                memeGenerator
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">memeGenerator</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">memeGenerator :</p>
                            <p>1 semaine - 4 personnes</p>
                            <p>Generateur de meme réalisé avec du HTML5, CSS3, PHP7 et MySQL. Ce site permet de choisir un image et d'écrire du texte dessus et de la télécharger et de la partager</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-1">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet animated fadeIn" data-toggle="modal" data-target="#exampleModal4">
            <img class="imgprojet" src="../assets/img/wetransfert.png" alt="">
            <div class="mt-1">
                weTransfert
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">weTransfert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">weTransfert :</p>
                            <p>1 semaine - 3 personnes</p>
                            <p>Site de telechargement de fichier réalisé avec du HTML5, CSS3, PHP7 et MySQL. Il permet d'uploader des fichiers de tout type inferieur à 3mB pour la partie publique et pour les utilisateur qui se créer un compte des fichiers jusqu'à 7mB.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet animated fadeIn" data-toggle="modal" data-target="#exampleModal5">
            <img class="imgprojet" src="../assets/img/projet1.png" alt="">
            <div class="mt-1">
                Snake
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Snake</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">Snake :</p>
                            <p>Projet personnel</p>
                            <p>Jeu Snake réalisé avec du javascript.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet animated fadeIn" data-toggle="modal" data-target="#exampleModal6">
            <img class="imgprojet" src="../assets/img/projet1.png" alt="">
            <div class="mt-1">
                siteBurger
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">siteBurger</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">siteBurger</p>
                            <p>Projet personnel</p>
                            <p>Site réalisé avec du HTML5, CSS3, PHP7 et MySQL. Il permet de voir tous les produits disponibles et de voir leur description sur une autre page.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-projet animated fadeIn" data-toggle="modal" data-target="#exampleModal7">
            <img class="imgprojet" src="../assets/img/blog.png" alt="">
            <div class="mt-1">
                Blog
            </div>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Blog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                        <div>
                            <p class="mt-1 modaltitre">Blog :</p>
                            <p>1 semaines - 3 personnes</p>
                            <p>Site réalisé avec du HTML5, CSS3, PHP7 et MySQL. Il permet à toute les personnes d'écrire un article sur un sujet et de le poster.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-dark">Voir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carousel pour format mobile -->
<div class="mobile">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="titre  animated fadeIn">
            Mes projets
        </div>
        <div class="github  animated fadeIn">
            <a href="https://github.com/thomasArj"><i class="fa fa-github-square" aria-hidden="true"></i> - thomasArj</a>
        </div>
        <ol class="carousel-indicators  animated fadeIn">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner mt-5  animated fadeIn">
            <div class="carousel-item active">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal8">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div class="">
                        Blueasy
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal9">
                    <img class="imgprojet" src="../assets/img/langerba.png" alt="">
                    <div class="">
                        Langerba
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal10">
                    <img class="imgprojet" src="../assets/img/explo.png" alt="">
                    <div class="">
                        ExploFiles
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal11">
                    <img class="imgprojet" src="../assets/img/meme.png" alt="">
                    <div class="">
                        memeGenerator
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal12">
                    <img class="imgprojet" src="../assets/img/wetransfert.png" alt="">
                    <div class="">
                        weTransfert
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal13">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div class="">
                        Snake
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal14">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div class="">
                        siteBurger
                    </div>
                </button>
            </div>
            <div class="carousel-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-projet" data-toggle="modal" data-target="#exampleModal15">
                    <img class="imgprojet" src="../assets/img/blog.png" alt="">
                    <div class="">
                        Blog
                    </div>
                </button>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon arrowLeft" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon arrowRight" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Maquette Blueasy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">Maquette Blueasy :</p>
                        <p>Maquette réalisée à partir d'un template avec du HTML5 et CSS3</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Langerba</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">Maquette Langerba :</p>
                        <p>Maquette réalisée à partir d'un template avec du HTML5, CSS3 et Bootstrap4</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ExploFiles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">ExploFiles :</p>
                        <p>1 semaine - 3 personnes</p>
                        <p>Explorateur de fichier realisée avec du HTML5, CSS3, PHP7 et AJAX. Ce projet permet de naviguer entre les dossier de votre PC et et de voir les fichiers qu'ils contienent</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">memeGenerator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p>memeGenerator :</p>
                        <p>Maquette réalisée avec du HTML et CSS</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">weTransfert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">weTransfert :</p>
                        <p>1 semaine - 3 personnes</p>
                        <p>Site de telechargement de fichier réalisé avec du HTML5, CSS3, PHP7 et MySQL. Il permet d'uploader des fichiers de tout type inferieur à 3mB pour la partie publique et pour les utilisateur qui se créer un compte des fichiers jusqu'à 7mB.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Snake</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">Snake :</p>
                        <p>Projet personnel</p>
                        <p>Jeu Snake réalisé avec du javascript.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">siteBurger</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">siteBurger</p>
                        <p>Projet personnel</p>
                        <p>Site réalisé avec du HTML5, CSS3, PHP7 et MySQL. Il permet de voir tous les produits disponibles et de voir leur description sur une autre page.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="imgprojet" src="../assets/img/projet1.png" alt="">
                    <div>
                        <p class="mt-1 modaltitre">Blog :</p>
                        <p>1 semaines - 3 personnes</p>
                        <p>Site réalisé avec du HTML5, CSS3, PHP7 et MySQL. Il permet à toute les personnes d'écrire un article sur un sujet et de le poster.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-dark">Voir</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="myMail">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a [routerLink]="['/section0']"><button class="btn btn-dark">{{onglet1}}</button></a>
        <a [routerLink]="['/section1']"><button class="btn btn-dark">{{onglet2}}</button></a>
        <a [routerLink]="['/section3']"><button class="btn btn-dark">{{onglet4}}</button></a>
        <a [routerLink]="['/section4']"><button class="btn btn-dark">{{onglet5}}</button></a>
    </div>
</div>
